<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <style>
      h1 {
        font-size: 5vw;
      }
      .name {
        display: grid;
        align-items: center;
        text-align: center;
      }
      p{
        font-weight: 500;
        font-size: 2vw;
      }
    </style>
  </head>
  <body>
    <div class="name">
      <h1>NOT FOUNED</h1>
      <p>Try Something else...</p>
      <a href="https://django-shopping-backend.herokuapp.com/swagger/">Checkout The API Documentation</a>
      <a href="https://react-shopping-frontend.herokuapp.com/">Frontend Website</a>
    </div>
  </body>
</html>
